
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.app {
  text-align: center;
}

input {
  border: 1px solid #ccc;
}

.form {
  display: flex;
  margin: 0 auto;
   width: 300px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form input {
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.form button {
  background: #0a0a0a;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}